@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/forest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar
{
    background-color:#000;
}
.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
.navbar li 
{
    float: right;
}
li a
{
    display: block;
    color: #fff;
    text-align: right;
    padding: 14px ;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover 
{
    background-color: #fff;
}
.navbar-brand img
{
    height: 40px;
    align-items: left;
}
.navbar-toggler
{
    outline: none !important;
}
/*Start of the blog*/
.blog
{
    width: 800%;
    height: 20px solid #fff;
    font-family: source sans Pro, sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    margin-bottom: 20px;
}
.date
{
    color: #fff;
    letter-spacing: 0.2rcm;
    text-transform: uppercase;
    font-weight: 600;    
}
h2
{
    font-size: 0.2rcm;
    color: #fff;
}
h3
{
    color: #fff;
}
hr
{
    border:0;
    height: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.paragraph
{
    border-left: 5px solid #2370a2;
    width: 800%;
    height: 20px solid #fff;
    font-family: source sans Pro, sans-serif;
    padding: 20px;
    max-width: 700px;
}
p
{
    color: #fff;
    padding-left: 5px;
    text-align: justify;
}
/*Aligning image*/
.images img
{
    margin-left: 5%;
}
.outer-footer
{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}


